.footer{
    background-color: #AA0601;
    padding-top: 48px;
    padding-bottom: 32px;
    .linkbar{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 36px;
    }
    .pagelink{
        display: flex;
        justify-content: space-between;
        li{
          margin-right: 48px;
          @media (max-width:996px){
            margin-right: 30px;
          }  
        }
        a{
            font-family: $ff;
            font-size: 16px;
            line-height: 24px;
            font-weight: $fw-regular;
            text-decoration: none;
            color:$font-white;
            &:hover{
                color: gray;
            }
        }
    }
    .socialmedia{
        display: flex;
        li{
            margin-left: 32px;
        @media (max-width:767px){
            margin-left: 8px;
        }
            a{
                display: block;
                &:hover{
                    opacity: 0.5;
                }
            }
            img{
                width: 48px;
            }  
        @media (max-width:996px){
            img{
                width: 40px;
            }
        }
        } 
    }
    @media (max-width:767px){
        .linkbar{
            display: none;
        }
    }
    .contact{
        .socialmedia{
            display: none;
        }
    }
    .contact-text{
        padding-bottom: 32px;
        margin-bottom: 32px;
        border-bottom: 1px solid #ffffff;
        .fa-phone,.fa-envelope{
            color: #FFFFFF;
            margin-right: 22px;
            width: 20px;
        @media (max-width:767px){
            margin-right: 5px;
        }
        }
        p{
            font-family: $ff;
            font-size: 36px;
            line-height: 54px;
            color: $font-white;
        }
    }
    @media (max-width:767px){
        .contact{
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid #ffffff;
            margin:0 15px 24px;
            padding: 0px;
            .contact-text{
                padding-bottom: 0px;
                border: 0px;
            }
            p{
                font-size: 16px;
                line-height: 24px;
            }
            .socialmedia{
                display: flex;
            }
        }
    }
    .copyright-mobile{
        display: none;
    }
    .copyright{
        display: flex;
        justify-content: space-between;
        align-items: center;
        p{
            font-family: $ff;
            font-size: 16px;
            line-height: 24px;
            color: #ffffff;
        }
        ul{
            display: flex;
            justify-content: space-between;
        }
        li{
            margin-left: 48px;
        }
        a{
            text-decoration: none;
            font-family: $ff;
            font-size: 14px;
            line-height: 21px;
            color: $font-white;
            &:hover{
                color: gray;
            }
        }
    }
    @media (max-width:767px){
        .copyright{
            display: none;
        }
        .copyright-mobile{
            display: block;
            margin:0 15px 24px;
            padding: 0px;
            li{
                margin-bottom: 8px;
                color: #ffffff
            }
            a{
                text-decoration: none;
                font-family: $ff;
                font-size: 14px;
                line-height: 21px;
                color: $font-white;
                &:hover{
                    color: gray;
                }  
            }
        }
    }
}