.location{
    @media (max-width:767px){
        padding: 0px 15px;
    }
    margin-top: 100px;
    margin-bottom: 80px;
    h2{
        border-left: 8px solid $color-main;
        padding-left: 16px;
        font-family: $ff;
        font-size: 48px;
        line-height: 72px;
        font-weight: $fw-bold;
    @media (max-width:767px){
        width: 100%;
    }
    }
    p{
        margin-top: 33px;
        font-family: $ff;
        font-size: 24px;
        line-height: 36px;
        span{
            padding: 6px 5px 6px 12px;
            margin-left: 16px;
            border: 1px solid #CED4DA;
            color: #495057;
            opacity: 75%;
            font-size: 18px;
            line-height: 26px;
        }
        .material-symbols-outlined{
            border: none;
            margin-left: 108px;
            color:#000000
        }
        @media (max-width:767px){
            width: 100%;
            .material-symbols-outlined{
                margin-left: 54px;
            }
        }
    }

    .content{
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
    @media (max-width:996px){
        flex-direction: column;
    }
    }
    
    .branch{
        width: 40%;
        h3{
            border-left:1px solid #00000020;
            border-right:1px solid #00000020;
            padding: 8px 24px;
            font-family: $ff;
            font-size: 24px;
            line-height: 36px;
            border-bottom:1px solid #00000020;
        }
        ul{
            padding: 10px 28px;
            border:1px solid #00000020;
        }
        li{
            margin-bottom: 8px;
            font-family: $ff;
            font-size: 20px;
            line-height: 30px;
        }
        span{
            margin-right: 11px;
        }
        a{
            text-decoration: none;
            color: #000000;
        } 
    @media (max-width:996px){
        width: 100%;
        display: flex;
        justify-content: space-between;
        img,.address{
            width: 48%; 
        }
        h3{
            border-top: 1px solid #00000020;
        }
    }
    @media (max-width:767px){
        flex-direction: column;
        img,.address{
            width: 100%;
        }
    }
    }
    .map{
        width:57%;
    @media (max-width:996px){
        width: 100%;
        margin-top: 24px;
    }
    }
        
}